@import "../shared";

.main-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    width: calc(50% - 1.2rem);
    height: 100%;
    border-radius: 10.8rem 0 0 0;
    background: $main-color-soft;
  }
}
