@import "../shared";

.error-message {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  max-width: 32rem;
  font-family: $extra-font;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;

  &--form {
    gap: 1.4rem;
    margin: -1rem 0 1rem 0;
    padding: 1.6rem;
    border: solid 0.05rem $warn-color;
    border-radius: 0.6rem;
    background: $warn-bg-color;
  }
}

.error-message--input {
  gap: 0.8rem;
  border: none;
  margin: 1.2rem 0;
  margin-top: -1.2rem;
  color: $warn-color;
  font-size: 1.3rem;

  img {
    max-width: 1.6rem;
  }
}
