@import "../shared";

.login-form {
  @include forms;

  a {
    display: block;
    align-self: center;
    width: fit-content;
    border-bottom: solid 0.1rem $main-color;
    color: $main-color;
    text-align: center;
  }
}
