@import "../shared";

.logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  span {
    margin-top: 0.3rem;
    font-family: $logo-font;
    font-size: 2.6rem;
    font-weight: 300;
    color: $text-color;
  }
}
