//Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&display=swap");

//Variables
$main-color: #8a3879;
$main-color-light: #a54f93;
$main-color-dark: #78306b;
$main-color-soft: #eccae5;
$warn-color: #d42f1a;
$warn-bg-color: #fee7e9;
$text-color: #3b3b3b;
$input-color: #555555;
$border-color: #939393;
$light-color: #fff;
$focus-color: #649fd6;
$overlay-color: #ffffff85;
$main-font: "Lato", sans-serif;
$logo-font: "Rubik", sans-serif;
$extra-font: "Encode Sans", sans-serif;

//Mixins
$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1444px,
);

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin forms {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-up(md) {
    margin: 4rem 0;
  }

  @include media-up(xl) {
    margin: 9.8rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 32.7rem;
    width: 100%;

    @include media-up(md) {
      margin: 3.2rem 0;
    }

    legend {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 3.2rem;

      @include media-up(md) {
        font-size: 2.6rem;
      }
    }
  }
}

//Reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  font-size: 62.5%;
  font-family: $main-font;
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  display: grid;
  overflow-x: hidden;
  background-color: $light-color;
  color: $text-color;
  font-size: 1.6rem;
}
